<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
	<!--https://www.npmjs.com/package/socketio-file-upload-->
	
	<script src="https://unpkg.com/vue"></script> 
</head>
<body>
	<main id="app">		
		
		<section class="messages">
			<ul id="messages" v-for="message in messages">
				<!--render the message component here-->
				<newmessage :msg="message"></newmessage>
				
			</ul>
		</section>		

		<section class="form-container">
			<h2>Welcome to Lia's Chat App</h2>
			<p>Welcome to my chat app. Enter your name below to start socializing. Have fun!</p>
			<label for="nickname">Username (optional)</label>
			<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What is your nickname?">
			
			<form>
				<label for="message">Message</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>

				<label for="image">Attach Image:</label>
		        <input v-on="image" type="file" id="image">


				<input type="submit" @click.prevent="dispatchMessage">
			</form>


			 <section id="users">
				<h2>Online Users</h2>
				<!-- <ul id="users" v-for="socketId in io.sockets.sockets"></ul> -->
				<!-- <ul id="users" v-for="nickname in users">
					<newmessage :usr="nickname"></newmessage>
				</ul> -->
			<!-- </section> -->
			<h2 id="userCountH2"></h2>

		</section>
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>
</html>